<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Check the source code to get some help.</p>
        <p>GitHub Link : https://github.com/Raghu-N-Yadav/web-server</p>
        <p>Application Link :: https://rny-weather-application.herokuapp.com/</p>
    </div>


    {{>footer}}

</body>


</html>